Package: pgamqp
Version: 0.3.1-1
Architecture: amd64
Maintainer: Xavier Stevens <xavier@simple.com>
Installed-Size: 135
Depends: libc6 (>= 2.14), postgresql-9.2
Section: database
Priority: optional
Description: AMQP publishing for Postgres
 Provides the ability to publish messages to an AMQP broker.
